.section--primary
  .container--offset
    %h1= title(sanitize(collection.name))
    = MarkdownHelper.markdown(collection.description)

%section{ id: 'content', tabindex: '0' }
  .container
    %h2= t('.in_this_section')
    %ul.list--block__inline-50
      - collection.articles.each do |article|
        %li
          .list--details
            %h3= link_to(sanitize(article.article_title), article_path(article.graph_id))

      - collection.subcollections.each do |subcollection|
        %li
          .list--details
            %h3= link_to(sanitize(subcollection.name), collection_path(subcollection.graph_id))
