.section--primary
  .container--offset
    %h1= title(sanitize(collection.name))
    = Parliament::Utils::Helpers::MarkdownHelper.markdown(collection.description)

%section{ id: 'content', tabindex: '0' }
  .container
    %h2= t('.in_this_section')
    %ul.list--block.list--2
      - collection.articles.each do |article|
        %li
          .card
            .card__details
              %h3= link_to(sanitize(article.article_title), article_path(article.graph_id))
              = Parliament::Utils::Helpers::MarkdownHelper.markdown(article.article_summary)

      - collection.subcollections.each do |subcollection|
        %li
          .card
            .card__details
              %h3= link_to(sanitize(subcollection.name), collection_path(subcollection.graph_id))
              = Parliament::Utils::Helpers::MarkdownHelper.markdown(subcollection.description)
