= sanitize body
.card--small
  %h3= submitted_on
  %figure.avatar--round
    = link_to(person_path(person.graph_id), { aria: { hidden: "true" }, tabindex: "-1" }) do
      %picture
        - if person.image_id != 'placeholder'
          %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{person.image_id}.jpeg?crop=CU_1:1&width=260&quality=80", alt: "#{person.full_name} 260 by 260 pixels" }
        - else
          %img{ src: "#{Pugin::ASSET_LOCATION_URL}/#{Pugin::ASSET_VERSION}/images/placeholder_members_image.png" }
  .card__details
    %p
      = link_to(person.full_name, person_path(person.graph_id))
    %p
      = role
      - if incumbency && !incumbency.current?
        = "until #{incumbency.end_date.strftime('%d %B %Y')}"
