.section--primary
  .container
    %h1= title("#{t('.question').capitalize} #{@question.uin}")
    %p.lead= "#{t('.question_for').capitalize} #{@answering_body.name}"

%section{ id: 'content', tabindex: '0' }
  .container

    -# Question
    .block--border__bottom
      %h2= t('.question').capitalize
      %p= @question.text
      = render partial: 'person_details', locals: { person: @asking_person, role: "#{t('.mp_for')} #{@constituency.name}", incumbency: @asking_person_seat_incumbency, submitted_on: "#{t('.asked_on').capitalize} #{@question.asked_at_date.strftime('%d %B %Y')} #{t('.by')}" }

    -# Answer
    .block--border__bottom
      - if !@answer.text.empty?
        %h2= t('.answer').capitalize
        = @answer.text.html_safe
        = render partial: 'person_details', locals: { person: @answering_person, role: "#{@government_position.name}", incumbency: @answering_person_government_incumbency, submitted_on: "#{t('.answered_on').capitalize} #{@answer.answer_given_date.strftime('%d %B %Y')} #{t('.by')}" }
      - else
        %h2= t('.not_answered').capitalize
        %p= "#{t('.answer_expected_from').capitalize} #{@answering_body.name}"
