- title("#{@party.name} - #{@parliament.date_range(date_format: '%Y')} #{t('parliament')}")
%section.section--primary
  .container
    %small= link_to("#{@parliament.date_range(date_format: '%Y')} #{t('parliament').capitalize}", parliament_path(@parliament.graph_id))
    %h1
      %span= @party.name

%section#content{ tabindex: "0" }
  .container
    %ul.list--block
      %li
        .card
          .card__details
            %h2= link_to(t('mps_and_lords'), parliament_house_party_members_path(@parliament.graph_id, @house.graph_id, @party.graph_id))
