= form_for petitioner_object, url: hybrid_bill_path(business_id, step: 'details') do |f|
  - if include_group
    = f.label :on_behalf_of
    = f.text_field :on_behalf_of

  = f.label :first_name
  = f.text_field :first_name
  = f.label :surname
  = f.text_field :surname

  %h2 Do you live in the UK?
  = radio_button_tag(:petitioner_uk, 'yes')
  = label_tag(:petitioner_uk, 'Yes')
  = radio_button_tag(:petitioner_uk, 'no')
  = label_tag(:petitioner_uk, 'No')

  = f.label :country
  = f.select :country, [['United Kingdom', 'GB']]

  = f.label :address_1
  = f.text_field :address_1
  = f.label :address_2
  = f.text_field :address_2
  = f.label :postcode
  = f.text_field :postcode
  = f.label :email
  = f.text_field :email
  = f.label :receive_updates
  = f.check_box :receive_updates
  = f.label :telephone
  = f.text_field :telephone


  %h2 Do you have a rep?
  = radio_button_tag(:include_agent, 'yes')
  = label_tag(:include_agent, 'Yes')
  = radio_button_tag(:include_agent, 'no')
  = label_tag(:include_agent, 'No')

  = f.fields_for :hybrid_bill_agent do |a|
    = a.label :first_name
    = a.text_field :first_name
    = a.label :surname
    = a.text_field :surname

    %h2 Do you live in the UK?
    = radio_button_tag(:agent_uk, 'yes')
    = label_tag(:agent_uk, 'Yes')
    = radio_button_tag(:agent_uk, 'no')
    = label_tag(:agent_uk, 'No')


    = a.label :country
    = a.select :country, [['United Kingdom', 'GB']]

    = a.label :address_1
    = a.text_field :address_1
    = a.label :address_2
    = a.text_field :address_2
    = a.label :postcode
    = a.text_field :postcode
    = a.label :email
    = a.text_field :email
    = a.label :receive_updates
    = a.check_box :receive_updates
    = a.label :telephone
    = a.text_field :telephone

  = f.submit
