= form_for petitioner_object, url: hybrid_bill_path(business_id, step: 'details') do |f|
  %div
    %h3 Errors
    %ul
      - petitioner_object.errors.full_messages.each do |message|
        %li= message
    %hr
    %ul
      - petitioner_object.hybrid_bill_agent.errors.full_messages.each do |message|
        %li= message

  - if include_group
    - if local_assigns.fetch(:group_name, nil)
      = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :on_behalf_of, label_value: group_name }
    - else
      = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :on_behalf_of }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :first_name }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :surname }

  %h2 Do you live in the UK?
  = render partial: 'hybrid_bills/steps/forms/components/radio_buttons', locals: { f: f, attribute: :in_the_uk }

  = render partial: 'hybrid_bills/steps/forms/components/country_select', locals: { f: f, attribute: :country }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :address_1 }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :address_2 }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :postcode }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :email }

  = render partial: 'hybrid_bills/steps/forms/components/check_box', locals: { f: f, attribute: :receive_updates }

  = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: f, attribute: :telephone }

  %h2 Do you have a rep?
  = render partial: 'hybrid_bills/steps/forms/components/radio_buttons', locals: { f: f, attribute: :has_a_rep }

  = f.fields_for :hybrid_bill_agent, petitioner_object.hybrid_bill_agent do |a|
    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :first_name }

    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :surname }

    %h2 Do you live in the UK?
    = render partial: 'hybrid_bills/steps/forms/components/radio_buttons', locals: { f: a, attribute: :in_the_uk }

    = render partial: 'hybrid_bills/steps/forms/components/country_select', locals: { f: a, attribute: :country }

    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :address_1 }

    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :address_2 }

    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :postcode }

    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :email }

    = render partial: 'hybrid_bills/steps/forms/components/check_box', locals: { f: a, attribute: :receive_updates }

    = render partial: 'hybrid_bills/steps/forms/components/form_field', locals: { f: a, attribute: :telephone }

  = f.submit
