- page_title = title("#{t('hybrid_bills.individual_owned').capitalize} #{t('hybrid_bills.pet_details')}. #{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      %span= "#{t('hybrid_bills.individual_owned').capitalize} #{t('hybrid_bills.pet_details')}"
      %span.sr-only .
      %span.context= "#{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"

    %h2.typography--light
      = "#{t('hybrid_bills.step_3').capitalize} #{t('hybrid_bills.step_1_5')}"

%section.section--major
  .container
    %h2.sr-only
      = t('user_forms.complete_fields').capitalize
    = render partial: 'hybrid_bills/steps/forms/details_form', locals: { petitioner_object: @petitioner_object, business_id: @business_id, include_group: false }
