- if @person.current_mp? || @person.current_lord?
  - if @current_incumbency.contact_points.empty?
    %p= t('.empty_contact_details')
  - else
    %dl.list--definition
      - @current_incumbency.contact_points.each do |contact_point|
        - if contact_point.email.present?
          %dt= t('contact_points.email').capitalize + ": "
          %dd
            %a{ href: "mailto:#{contact_point.email}" }= contact_point.email
        - if contact_point.phone_number.present?
          %dt= t('contact_points.phone').capitalize + ": "
          %dd
            %a{ href: "tel:#{contact_point.phone_number.gsub(/\s+/, "")}" }= contact_point.phone_number.gsub(/\s+/, " ")
        - if contact_point.postal_addresses.present?
          %dt
            = t('contact_points.address').capitalize + ": "
          - contact_point.postal_addresses.each do |postal_address|
            %dd= postal_address.full_address
        - if @current_incumbency.contact_points.length > 1
          - unless contact_point.equal?(@current_incumbency.contact_points.last)
            .line-break--sm
- if @seat_incumbencies.present? && Parliament::Utils::Helpers::HousesHelper.commons?(@current_incumbency.house)
  %p= t('.contact_discussion')
