- if @person.weblinks? || (Pugin::Feature::Bandiera.show_list_images? && @person.image_id(show_placeholder:false))
  %section
    .container
      .block--border__bottom
        %h2=t('.title').capitalize

        - if @person.weblinks? && @person.current_mp?
          %dl.list--definition
            - if @person.personal_weblinks.present?
              - @person.personal_weblinks.each do |link|
                %dt= t('contact_points.website').capitalize + ": "
                %dd= link_to(link, link)

            - if @person.twitter_weblinks.present?
              - @person.twitter_weblinks.each do |link|
                %dt= t('contact_points.twitter').capitalize + ": "
                %dd= link_to(link, link)

            - if @person.facebook_weblinks.present?
              - @person.facebook_weblinks.each do |link|
                %dt= t('contact_points.facebook').capitalize + ": "
                %dd= link_to(link, link)

        - if Pugin::Feature::Bandiera.show_list_images? && @person.image_id(show_placeholder:false)
          - name = @most_recent_incumbency.house.name == 'House of Lords' ? @person.display_name : @person.full_name
          %p= t('.portrait', name: name, link: link_to(t('media.show.available_download'), media_show_path(@person.image_id))).html_safe
