.section--primary#content{ tabindex: "0" }
  .container
    %h1
      %span= title(@person.display_name)
      %span.context
        - if @most_recent_incumbency.nil? || @most_recent_incumbency.house.name == 'House of Lords'
          ="#{@person.full_name}" unless @person.display_name == @person.full_name

        - if @current_party_membership && @current_incumbency
          - current_party_details = link_to(@current_party_membership.party.name, party_path(@current_party_membership.party.graph_id))

        - unless @person.statuses[:house_membership_status].empty?
          - if @person.current_mp?
            = current_party_details if current_party_details
            = t('.mp_for')
            = link_to(@current_incumbency.constituency.name, constituency_path(@current_incumbency.constituency.graph_id))
          - else
            - unless @person.display_name == @person.full_name
              %br
            = current_party_details + ' -' if current_party_details
            = @person.statuses[:house_membership_status].join(' and ')

    - if Pugin::Feature::Bandiera.show_list_images?
      - if @person.image_id(show_placeholder:false)
        = render 'image'

    - if @history
      = render 'roles_description'

- if @current_incumbency && @current_party_membership
  %section
    .container
      .block
        %h2= "#{t('.contact').capitalize}"
        - if @person.current_mp?
          = render 'when_to_contact'
        = render 'contact_details'

%section
  .container
    %h2= t('.roles').capitalize
    - if @current_roles
      = render 'current_roles', current_roles: @current_roles

    - if @history && @history[:current].any?
      .dropdown{ data: { toggle: t('dropdown.item') } }
        .dropdown__toggle
          %h3
            %a{ href: "#", data: { toggle: t('dropdown.parent_item') } }
              = t('.show_history')
        .dropdown__content
          %ul.track
            %li
              %h2= "#{t('.held_currently')}"
              %ul.list--block
                = render 'timeline_roles', timeline_roles: @history[:current]
              = render 'previous_roles'
    - elsif @history && @history[:current].empty?
      %ul.track
        %li
          = render 'previous_roles'

= render 'related_links'

- if @current_incumbency && Pugin::Feature::Bandiera.show_activity_links?
  .container
    .status--highlight.theme--purple--light
      = "#{t('.link_to_original', link: link_to(t('.link_to_original_version'), "http://www.parliament.uk/biographies/Commons/member/#{@person.mnis_id}"))}".html_safe
