.section--primary#content
  .container
    %h1= title(@person.display_name)

    - if @most_recent_incumbency.nil? || @most_recent_incumbency.house.name == 'House of Lords'
      %p= @person.full_title
      %p= "#{@person.full_name}" unless @person.display_name == @person.full_name

    - if @current_party_membership && @current_incumbency
      - current_party_details = link_to(@current_party_membership.party.name, party_path(@current_party_membership.party.graph_id))

    - unless @person.statuses[:house_membership_status].empty?
      - if @person.statuses[:house_membership_status].include?('Current MP')
        %p.lead
          = current_party_details if current_party_details
          = t('.mp_for')
          = link_to(@current_incumbency.constituency.name, constituency_path(@current_incumbency.constituency.graph_id))
      - else
        %p
          = current_party_details if current_party_details
          = @person.statuses[:house_membership_status].join(' and ')

    - if Pugin::Feature::Bandiera.show_list_images?
      - if @person.image_id(show_placeholder:false)
        %figure
          %picture
            %source{srcset: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_5:2&width=732&quality=80, #{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_5:2&width=1464&quality=80 2x", media: "(min-width: 480px)"}
            %source{srcset: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=MCU_3:2&width=444&quality=80, #{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=MCU_3:2&width=888&quality=80 2x"}
            %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_5:2&width=1464&quality=80", alt: "#{@person.display_name}" }
          %figcaption= t('.figcaption', link: link_to(t('.available_download'), media_show_path(@person.image_id))).html_safe

- if @current_incumbency && @current_party_membership
  %section
    .container
      .block
        %h2= "#{t('.contact').capitalize}"
        - if @most_recent_incumbency && @most_recent_incumbency.house.name == 'House of Commons'
          .dropdown
            .dropdown__toggle
              %h3= link_to t('.when_to_contact.title'), '#'
            .dropdown__content
              %p= t('.when_to_contact.mps_can_help_with')
              %ul.list--bullet
                %li= t('.when_to_contact.hospitals_nhs')
                %li= t('.when_to_contact.problems')
                %li= t('.when_to_contact.immigration')
                %li= t('.when_to_contact.school_closures')
                %li= t('.when_to_contact.transport')
              %p= link_to t('.when_to_contact.who_else_can_help'), who_should_i_contact_with_my_issue_path
          %p= t('.contact_postcode')
        - if @person.statuses[:house_membership_status].include?('Current MP') || @person.statuses[:house_membership_status].include?('Member of the House of Lords')
          - if @current_incumbency.contact_points.empty?
            %p= t('.empty_contact_details')
          - else
            %dl.list--definition
              - @current_incumbency.contact_points.each do |contact_point|
                - if contact_point.email.present?
                  %dt= t('contact_points.email').capitalize + ": "
                  %dd
                    %a{ href: "mailto:#{contact_point.email}" }= contact_point.email
                - if contact_point.phone_number.present?
                  %dt= t('contact_points.phone').capitalize + ": "
                  %dd
                    %a{ href: "tel:#{contact_point.phone_number.gsub(/\s+/, "")}" }= contact_point.phone_number.gsub(/\s+/, " ")
                - if contact_point.postal_addresses.present?
                  %dt
                    = t('contact_points.address').capitalize + ": "
                  - contact_point.postal_addresses.each do |postal_address|
                    %dd= postal_address.full_address
                - if @current_incumbency.contact_points.length > 1
                  - unless contact_point.equal?(@current_incumbency.contact_points.last)
                    .line-break--sm
        - if @seat_incumbencies.present? && Parliament::Utils::Helpers::HousesHelper.commons?(@current_incumbency.house)
          %p= t('.contact_discussion')

%section
  .container
    - if @seat_incumbencies.present? || @house_incumbencies || @committee_memberships.present?
      %h2= t('.roles').capitalize
      - unless @history.nil? || @history[:current].empty? || @committee_memberships.nil?
        %ul.list--pipe
          - @history[:current].each do |incumbency|
            %li
              .list--details
                %h3.content--xs= t('.parliamentary_role').capitalize
                - if incumbency.respond_to?(:constituency)
                  %h4.lead
                    = t('.mp_for')
                    = link_to incumbency.constituency.name, constituency_path(incumbency.constituency.graph_id)
                - else
                  %h4.lead= "#{t('member').capitalize} #{t('of_the')} #{t('house_of_lords')}"
                %p= incumbency.date_range

          - @committee_memberships.each do |committee_membership|
            - if committee_membership.current?
              %li
                .list--details
                  %h3.content--xs= t('.committee_role').capitalize
                  %h4.lead= "#{t('member').capitalize} #{t('of_the')} #{committee_membership.formal_body.name}"
                  %p= "#{committee_membership.date_range}"
      - if @seat_incumbencies.count > 1 || @committee_memberships.count > 1
        .dropdown
          .dropdown__toggle
            %h3= link_to "#{t('.show_history')}", "#"
          .dropdown__content
            - unless @history.nil? || @history[:current].empty? || @committee_memberships.nil?
              .timeline
                %h4= "#{t('.held_currently')}"
                %ul.list--block
                  - @history[:current].each do |incumbency|
                    %li
                      .list--details
                        - if incumbency.respond_to?(:constituency)
                          %h5
                            = t('.mp_for')
                            = link_to incumbency.constituency.name, constituency_path(incumbency.constituency.graph_id)
                        - else
                          %h5= "#{t('member').capitalize} #{t('of_the')} #{t('house_of_lords')}"
                        %p= t('.parliamentary_role').capitalize
                        %p= incumbency.date_range
                  - @committee_memberships.each do |committee_membership|
                    - if committee_membership.current?
                      %li
                        .list--details
                          %h5= "#{t('member').capitalize} #{t('of_the')} #{committee_membership.formal_body.name}"
                          %p= t('.committee_role').capitalize
                          %p= "#{committee_membership.date_range}"
            -unless @history.nil? || @history[:years].empty?
              - @history[:years].keys.sort.each do |year|
                - year_multiplier = year * @year_seperator
                .timeline
                  %h4= "#{t('.held_in')} #{year_multiplier} #{t('.years')}"
                  %ul.list--block
                    - @history[:years][year].each do |incumbency|
                      %li
                        .list--details
                          - if incumbency.respond_to?(:constituency)
                            %h5
                              = t('.mp_for')
                              = link_to incumbency.constituency.name, constituency_path(incumbency.constituency.graph_id)
                          - else
                            %h5= "#{t('member').capitalize} #{t('of_the')} #{t('house_of_lords')}"
                          %p= t('.parliamentary_role').capitalize
                          %p= incumbency.date_range
                    - @committee_memberships.each do |committee_membership|
                      - unless committee_membership.current?
                        - if committee_membership.formal_body
                          %li
                            .list--details
                              %h5= "#{t('member').capitalize} #{t('of_the')} #{committee_membership.formal_body.name}"
                              %p= t('.committee_role').capitalize
                              %p= "#{committee_membership.date_range}"
            - if @history && @history[:start]
              .timeline
                %h3= @history[:start].year
