.section--primary#content
  .container
    %h1= title(@person.display_name)

    - if @most_recent_incumbency.nil? || @most_recent_incumbency.house.name == 'House of Lords'
      %p= @person.full_title
      %p= "#{@person.full_name}" unless @person.display_name == @person.full_name

    - if @current_party_membership && @current_incumbency
      - current_party_details = link_to(@current_party_membership.party.name, party_path(@current_party_membership.party.graph_id))

    - unless @person.statuses[:house_membership_status].empty?
      - if @person.statuses[:house_membership_status].include?('Current MP')
        %p.lead
          = current_party_details if current_party_details
          = t('.mp_for')
          = link_to(@current_incumbency.constituency.name, constituency_path(@current_incumbency.constituency.graph_id))
      - else
        %p
          = current_party_details if current_party_details
          = @person.statuses[:house_membership_status].join(' and ')

    - if Pugin::Feature::Bandiera.show_list_images?
      - if @person.image_id(show_placeholder:false)
        %figure
          %picture
            %source{srcset: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_5:2&width=732&quality=80, #{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_5:2&width=1464&quality=80 2x", media: "(min-width: 480px)"}
            %source{srcset: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=MCU_3:2&width=444&quality=80, #{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=MCU_3:2&width=888&quality=80 2x"}
            %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_5:2&width=1464&quality=80", alt: "#{@person.display_name}" }
          %figcaption= t('.figcaption', link: link_to(t('.available_download'), media_show_path(@person.image_id))).html_safe

- if @current_incumbency && @current_party_membership
  %section
    .container
      .block
        %h2= "#{t('.contact').capitalize}"
        - if @most_recent_incumbency && @most_recent_incumbency.house.name == 'House of Commons'
          = render 'when_to_contact'
        - if @person.statuses[:house_membership_status].include?('Current MP') || @person.statuses[:house_membership_status].include?('Member of the House of Lords')
          - if @current_incumbency.contact_points.empty?
            %p= t('.empty_contact_details')
          - else
            = render 'contact_details'
        - if @seat_incumbencies.present? && Parliament::Utils::Helpers::HousesHelper.commons?(@current_incumbency.house)
          %p= t('.contact_discussion')

%section
  .container
    %h2= t('.roles').capitalize
    - unless @history.nil? || @history[:current].empty?
      = render 'current_roles'

    - unless @history.nil? || @history[:years].empty?
      .dropdown
        .dropdown__toggle
          %h3= link_to "#{t('.show_history')}", "#"
        .dropdown__content
          .timeline
            = render 'current_timeline_roles'
            = render 'previous_roles'
            - if @history && @history[:start]
              %h2= @history[:start].year
