.section--primary#content{ tabindex: "0" }
  .container
    %h1
      %span= title(@person.display_name)
      %span.context
        - if @most_recent_incumbency.nil? || Parliament::Utils::Helpers::HousesHelper.lords?(@most_recent_incumbency&.house)
          ="#{@person.full_name}" unless @person.display_name == @person.full_name

        - if @current_party_membership && @current_incumbency
          - current_party_details = link_to(@current_party_membership.party.name, party_path(@current_party_membership.party.graph_id))

        - unless @person.statuses[:house_membership_status].empty?
          - if @person.current_mp?
            = current_party_details if current_party_details
            = t('.mp_for')
            = link_to(@current_incumbency.constituency.name, constituency_path(@current_incumbency.constituency.graph_id))
          - else
            - unless @person.display_name == @person.full_name
              %br
            = current_party_details + ' -' if current_party_details
            = @person.statuses[:house_membership_status].join(' and ')

    - if @person.image_id(show_placeholder:false)
      = render 'image'

    - if @history && Parliament::Utils::Helpers::HousesHelper.commons?(@most_recent_incumbency&.house)
      = render 'roles_description'

%section
  .container
    - if @current_incumbency && @current_party_membership
      .block--border__bottom
        .block
          %h2= "#{t('.contact').capitalize}"
          - if @person.current_mp?
            = render 'when_to_contact'
          = render 'contact_details'
    = render 'written_questions'
    = render 'related_links'

    - if @current_incumbency && Pugin::Feature::Bandiera.show_activity_links?
      .status--highlight.theme--purple--light
        = "#{t('.link_to_original', link: link_to(t('.link_to_original_version'), "http://www.parliament.uk/biographies/Commons/member/#{@person.mnis_id}"))}".html_safe
