.section--primary#content{:tabindex => "0"}
  .container
    %h1= title(@person.display_name)

    - if @most_recent_incumbency.nil? || @most_recent_incumbency.house.name == 'House of Lords'
      %p= @person.full_title
      %p= "#{@person.full_name}" unless @person.display_name == @person.full_name

    - if @current_party_membership && @current_incumbency
      - current_party_details = link_to(@current_party_membership.party.name, party_path(@current_party_membership.party.graph_id))

    - unless @person.statuses[:house_membership_status].empty?
      - if @person.current_mp?
        %p.lead
          = current_party_details if current_party_details
          = t('.mp_for')
          = link_to(@current_incumbency.constituency.name, constituency_path(@current_incumbency.constituency.graph_id))
      - else
        %p
          = current_party_details if current_party_details
          = @person.statuses[:house_membership_status].join(' and ')

    - if Pugin::Feature::Bandiera.show_list_images?
      - if @person.image_id(show_placeholder:false)
        = render 'image'

- if @current_incumbency && @current_party_membership
  %section
    .container
      .block
        %h2= "#{t('.contact').capitalize}"
        - if @person.current_mp?
          = render 'when_to_contact'
        = render 'contact_details'

%section
  .container
    %h2= t('.roles').capitalize
    - if @current_roles
      = render 'current_roles', current_roles: @current_roles

    - unless @history.nil? || @history[:years].empty?
      .dropdown
        .dropdown__toggle
          %h3= link_to "#{t('.show_history')}", "#"
        .dropdown__content
          .timeline
            - unless @history.nil? || @history[:current].empty?
              %h2= "#{t('.held_currently')}"
              %ul.list--block
                = render 'timeline_roles', timeline_roles: @history[:current]
            - @history[:years].keys.sort.each do |year|
              %h2= "#{t('.held_in')} #{year} #{t('.years')}"
              %ul.list--block
                = render 'timeline_roles', timeline_roles: @history[:years][year]
            - if @history && @history[:start]
              %h2= @history[:start].year

= render 'related_links'
