.section--primary
  .container--offset
    %h1= sanitize @article.title
    = MarkdownHelper.markdown(sanitize @article.article_summary).html_safe

%section#content{ tabindex: "0" }
  .container.flex--2__2-1
    %article
      = MarkdownHelper.markdown(sanitize @article.article_body).html_safe

    %aside
      - if @related_articles
        .block.theme--grey-4
          %h2= 'Related Articles'
          %ul.list--pipe
            - @related_articles.each do |article|
              %li
                .list--details
                  = link_to(sanitize(article.article_title), article_path(article.graph_id))
