Who is submitting page:

= form_tag(hybrid_bill_path(@petition, step: 'covering-page')) do
  = label_tag 'individual'
  = radio_button_tag 'type', 'individual'
  = label_tag 'group'
  = radio_button_tag 'type', 'group'
  = label_tag 'organisation'
  = radio_button_tag 'type', 'organisation'
  = submit_tag 'submit'