- page_title = title('Upload your completed template. Object to the High Speed Rail (West Midlands to Crewe) Bill')

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      Upload your completed template
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands to Crewe) Bill

    %h2.typography--light Step 4 of 5

- if @document_object
  %section
    .container
      %br
      .status--highlight.theme--warning
        %h2 Errors
        %ul#error-file-upload
          - if @document_object.errors[:filename]
            %li{ aria: { live: 'assertive'} } Please make sure the file you have uploaded is doc, docx, rtf, txt, odt or pdf.
          - if @document_object.errors[:filesize]
            %li{ aria: { live: 'assertive'} } The file you have uploaded is too big. Please make sure it is smaller than 2 MB.

%section
  .container
    %h2 Uploaded file must

    %ul
      %li be less than 2 MB in size
      %li not include any images, graphics or videos
    %br

    = form_tag(hybrid_bill_path(@business_id, step: 'document-submission'), multipart: true) do
      %ol.list--pipe__deep
        %li
          %figure.svg--icon{ 'data-file-upload': 'icon' }
            = render partial: 'pugin/icons/file'

          .list-details
            %h3 Upload your petition template

            = file_field_tag 'hybrid_bill_document[file]', id: 'fileUpload', 'data-file-upload': 'button', 'data-file-size': '2097152', 'required': 'true'
            %label{for: 'fileUpload', class: 'btn--primary'} Choose file

            %p{ 'data-file-upload': 'status' } No file(s) selected

      = submit_tag 'Next', class: 'btn--primary'

    %br
    .block.accent--mint
      %h3 Help and support
      %p
        For more information email
        = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
        or phone
        = succeed "." do
          = link_to '020 7219 3250', 'tel:02072193250'
