- page_title = title("#{t('hybrid_bills.petition_online').capitalize}. #{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      %span= t('hybrid_bills.petition_online').capitalize
      %span.sr-only .
      %span.context= "#{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"

    %h2.typography--light
      = "#{t('hybrid_bills.step_2').capitalize} #{t('hybrid_bills.step_1_5')}"

%section
  .container
    %h2= t('hybrid_bills.email.subtitle').capitalize

    = form_tag(hybrid_bill_path(@business_id, step: 'details')) do
      = render partial: 'hybrid_bills/steps/forms/components/petitioner-type'

    %p
      =link_to t('user_forms.back_button').capitalize, hybrid_bill_path(@business_id, step: 'writing-your-petition-online')
