- page_title = title("#{t('hybrid_bills.submission-complete.title').capitalize}. #{t('hybrid_bills.object_to').capitalize} #{t('hybrid_bills.the')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")

#content.section--primary{ tabindex: '0' }
  .container
    %h1
      = t('hybrid_bills.submission-complete.title').capitalize
      %span.sr-only .
      %span= "#{t('hybrid_bills.object_to').capitalize} #{t('hybrid_bills.the')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"

    %br
    .status--highlight
      %p.lead
        = t('hybrid_bills.submission-complete.petition_ref').capitalize
        %strong
          = @petition_reference

      %p
        = t('hybrid_bills.submission-complete.petition_ref_a')
        %em
          = @email_addresses.join(' and')
        = t('hybrid_bills.submission-complete.petition_ref_b')

%section
  .container
    %h2= t('hybrid_bills.submission-complete.what_next').capitalize

    .track--alternative
      %h3.typography--light
        = t('hybrid_bills.submission-complete.what_next_a')

      %h3.typography--light
        = t('hybrid_bills.submission-complete.what_next_b')

      %h3.typography--light
        = t('hybrid_bills.submission-complete.what_next_c')

      %h3.typography--light
        = "#{t('hybrid_bills.submission-complete.what_next_d')} #{t('hybrid_bills.show.object_bill_b_bill')}"

      %h3.typography--light
        = t('hybrid_bills.submission-complete.what_next_e')

%section
  .container
    %h2= t('hybrid_bills.submission-complete.withdrawing').capitalize

    %p
      = t('hybrid_bills.submission-complete.withdrawing_a')
      = succeed "." do
        = link_to t('hybrid_bills.help_support_email'), "mailto:#{t('hybrid_bills.help_support_email')}"

    %p= t('hybrid_bills.submission-complete.withdrawing_b')

    %p= t('hybrid_bills.submission-complete.withdrawing_c')

%section
  .container
    %h2= t('hybrid_bills.submission-complete.change_contact').capitalize

    %p
      = t('hybrid_bills.submission-complete.change_contact_a')
      = succeed "." do
        = link_to t('hybrid_bills.help_support_phone'), "tel:#{t('hybrid_bills.help_support_phone').gsub(/\s+/, "")}"

%section
  .container
    %h2= t('hybrid_bills.submission-complete.feedback').capitalize

    %p
      = t('hybrid_bills.submission-complete.feedback_a')
      = succeed "." do
        = link_to 'https://www.smartsurvey.co.uk/s/BQVV8/', target: '_blank' do
          = t('hybrid_bills.submission-complete.feedback_b')
          %span.sr-only>
            = t('open_new_window_link')

%section
  .container
    %h2= t('hybrid_bills.email.bill_updates').capitalize

    %p
      = t('hybrid_bills.email.bill_updates_a')
      = succeed "." do
        = link_to 'http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', target: '_blank' do
          = "#{t('hybrid_bills.hs2_committee')} #{t('hybrid_bills.hs2_website')}"
          %span.sr-only>
            = t('open_new_window_link')
