- page_title = title('Thank you for your petition. Object to the High Speed Rail (West Midlands – Crewe) Bill')

#content.section--primary{ tabindex: '0' }
  .container
    %h1
      Thank you for your petition
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands – Crewe) Bill

    %br
    .status--highlight
      %p.lead
        Your petition reference is
        %strong
          = @petition_reference

      %p
        This petition reference and the information on this page will be sent to
        %em
          = @email_addresses.join(' and ')
        in the next 15 minutes.

%section
  .container
    %h2 What happens next

    .track--alternative
      %h3.typography--light We'll email you within 14 days about how to pay the &pound;20 admin fee.

      %h3.typography--light We'll publish your petition on our website. This will include your name and address.

      %h3.typography--light We’ll send your petition to HS2 Ltd, who may contact you to discuss it.

      %h3.typography--light We’ll also send your petition to the Department for Transport (DfT). They can challenge it if they don’t believe you are affected by the Bill.

      %h3.typography--light You will usually be invited to give evidence to the committee about your petition. Hearings are scheduled for spring/summer 2018.

%section
  .container
    %h2 Withdrawing your petition

    %p
      You can withdraw your petition by emailing us at
      = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'

    %p Anyone named on a petition can withdraw from the petition, leaving the remaining petitioners to continue with it.

    %p Withdrawn petitions will not be removed from the website.

%section
  .container
    %h2 Changing contact information

    %p
      If you want to change the main contact for your petition call us on
      = link_to '020 7219 3250', 'tel:02072193250'
      \.

    .section--major
      = link_to 'Finish', hybrid_bill_path(@business_id), class: 'btn--primary'
