- page_title = title('Terms and conditions. Object to the High Speed Rail (West Midlands – Crewe) Bill')

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      Terms and conditions
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands – Crewe) Bill

    %h2.typography--light Step 5 of 5

%section
  .container
    %h2 Personal information

    %p A copy of this petition and information provided in the online form will be:

    %ul
      %li
        kept in the
        = link_to 'Private Bill Office', 'http://www.parliament.uk/about/how/laws/bills/private/office/', target: '_blank'
        %span.sr-only (This link will open in a new window)
        and as a record in the
        = link_to 'Parliamentary Archives', 'http://www.parliament.uk/business/publications/parliamentary-archives/', target: '_blank'
        %span.sr-only (This link will open in a new window)

      %li
        sent to the
        = link_to 'Department for Transport', 'https://www.gov.uk/government/organisations/department-for-transport', target: '_blank'
        %span.sr-only (This link will open in a new window)
        and
        = link_to 'High Speed Two (HS2) Limited', 'https://www.gov.uk/government/organisations/high-speed-two-limited', target: '_blank'
        %span.sr-only (This link will open in a new window)
        after the petition has been received by the Private Bill Office

    %p We will publish your petition on UK Parliament’s website. This will include your name and address.

    %p The personal information you have provided may be kept in a database by both Private Bill Offices.

%section
  .container
    %h2 Communications

    %p Private Bill Office staff may call or email any of the people named in the petition to verify the information provided. 

    %p Communications may be stored in databases to keep track of information you have given or received. This information may be shared between the Private Bill Offices.

%section
  .container
    %h2 Consent and confirmation

    %p The information you have provided in the petition and online form is accurate.

    %p If you have completed the form on behalf of an individual, a group of individuals, an organisation, or a group of organisations, you have been authorised to do so.

    %br

    = form_tag hybrid_bill_path(@business_id, step: 'terms-conditions') do
      .block--border__bottom
        %fieldset
          %legend.sr-only Please confirm you agree to the terms and conditions
          = check_box_tag 'enableSubmit', 'accepted', false, 'data-submit': 'disabled', 'aria-required': 'true'
          = label_tag 'enableSubmit', 'I agree to the terms and conditions'
          = hidden_field_tag 'hybrid_bill_terms[accepted]', true
      = submit_tag 'Send petition', class: 'btn--primary'
