- page_title = title('Writing your petition online. Object to the High Speed Rail (West Midlands – Crewe) Bill')

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      Writing your petition - online
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands – Crewe) Bill

    %h2.typography--light Step 1 of 5

%section
  .container

    %div(data-browser='javascript')
      %br
      .status--highlight.theme--caution
        %p JavaScript is currently switched off in your browser. Switch it on for a better experience.

    %h2 To write your petition

    %ol
      %li download and save the petition template to your device
      %li complete the petition template
      %li save your completed template
      %li click the link at the end of your template to continue the process

    %p We’ll ask you to upload your completed template later.

    %ol.list--pipe__deep
      %li
        %figure.svg--icon.svg--file__word
          = render partial: 'pugin/icons/file'

        .list--details
          %h3 Petition template

          %a{ href: 'https://s3-eu-west-1.amazonaws.com/web1live.static-assets-public/_hybrid-bills/documents/HS2-Phase-2a-Petition-Template-Online.doc', class: 'btn--primary' }
            = render partial: 'pugin/icons/download'
            Download template as Word document

          %p
            If you need a different format, email
            = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
            or phone
            = succeed "." do
              = link_to '020 7219 3250', 'tel:02072193250'

%section#complete-petition.section--major
  .container
    %h2.typography--light Have you completed your petition template?

    = form_tag hybrid_bill_path(@business_id, step: 'petition-online') do
      .block--border__bottom
        %fieldset
          %legend.sr-only Please confrim that you completed your petition template
          .input-group__inline
            .input-group
              = radio_button_tag 'petition-check', 'yes', class: 'js-petition-check-yes'
              = label_tag 'petition-check_yes', 'Yes'
          .input-group__inline
            .input-group
              = radio_button_tag 'petition-check', 'no', true, class: 'js-petition-check-no',  data:{ submit: 'disabled' }
              = label_tag 'petition-check_no', 'No'

        .status--highlight.theme--caution#petitionCheckStatus
          %p Complete your petition template before you continue

        %div(data-browser='cookies')
          .status--highlight.theme--warning
            %p
              = link_to 'Cookies', 'http:https://beta.parliament.uk/meta/cookie-policy'
              are currently blocked. Allow all cookies to petition online.

            %p
              If you don’t want to allow all cookies, you can
              =link_to 'petition by email, post or in person', hybrid_bill_email_path(@business_id)
              \.

      = submit_tag 'Next', class: 'btn--primary'

      %p
        =link_to 'Back', hybrid_bill_path(@business_id)

      %br
      .block.accent--mint
        %h3 Help and support
        %p
          For more information email
          = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
          or phone
          = succeed "." do
            = link_to '020 7219 3250', 'tel:02072193250'
