- page_title = title("#{t('hybrid_bills.email.writing_petition').capitalize} #{t('hybrid_bills.hyphen')} #{t('hybrid_bills.writing-your-petition-online.online')}. #{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")


#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      %span= "#{t('hybrid_bills.email.writing_petition').capitalize} #{t('hybrid_bills.hyphen')} #{t('hybrid_bills.writing-your-petition-online.online')}"
      %span.sr-only .
      %span.context= "#{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"

    %h2.typography--light
      = "#{t('hybrid_bills.step_1').capitalize} #{t('hybrid_bills.step_1_5')}"

%section
  .container

    %noscript
      %br
      .status--highlight.theme--caution
        %p= t('javascript_disabled')

    %h2= t('hybrid_bills.writing-your-petition-online.to_write_petition').capitalize

    %ol
      %li= t('hybrid_bills.writing-your-petition-online.to_write_petition_a')
      %li= t('hybrid_bills.writing-your-petition-online.to_write_petition_b')
      %li= t('hybrid_bills.writing-your-petition-online.to_write_petition_c')
      %li= t('hybrid_bills.writing-your-petition-online.to_write_petition_d')

    %p= t('hybrid_bills.writing-your-petition-online.to_write_petition_e')

    %ol.list--pipe__deep
      %li
        .card--large
          %figure.svg--file__word
            = render partial: 'pugin/icons/file'

          .card__details
            %h3= t('hybrid_bills.help_support_template').capitalize

            %a{ href: "#{t('hybrid_bills.hb_s3_bucket')}#{t('hybrid_bills.id' + @business_id + '.template_online')}", class: 'btn--primary', download: true }
              = render partial: 'pugin/icons/download'
              = t('user_forms.word_download_button')

            %p
              = t('hybrid_bills.help_support_format')
              = link_to t('hybrid_bills.help_support_email'), "mailto:#{t('hybrid_bills.help_support_email')}"
              = t('hybrid_bills.help_support_b')
              = succeed "." do
                = link_to t('hybrid_bills.help_support_phone'), "tel:#{t('hybrid_bills.help_support_phone').gsub(/\s+/, "")}"

%section#complete-petition.section--major
  .container
    %h2= t('hybrid_bills.writing-your-petition-online.completed_template').capitalize

    = form_tag hybrid_bill_path(@business_id, step: 'petition-online') do
      .block--border__bottom{ class: t('dropdown.open'), data: { toggle: t('dropdown.item') } }
        .section--minor
          %fieldset
            %legend.sr-only
              = t('hybrid_bills.writing-your-petition-online.completed_template_legend').capitalize
            .input-group__inline
              = radio_button_tag 'petition-chk', 'yes', false, data: { toggle: t('dropdown.parent_item') }
              = label_tag 'petition-chk_yes', t('user_forms.yes_radio').capitalize
            .input-group__inline
              = radio_button_tag 'petition-chk', 'no', true, data: { submit: 'disabled', toggle: t('dropdown.parent_item') }
              = label_tag 'petition-chk_no', t('user_forms.no_radio').capitalize

        .status--highlight.theme--caution{ class: t('dropdown.open'), data: { toggle: t('dropdown.content') } }
          %p= t('hybrid_bills.writing-your-petition-online.complete_template').capitalize

      %noscript
        .status--highlight.theme--warning
          %p
            = t('cookies_disabled_a')
            = link_to 'https://beta.parliament.uk/meta/cookie-policy' do
              = t('cookies')
            = t('cookies_disabled_b')

          %p= t('cookies_disabled_c')

          %p
            = t('cookies_disabled_d')
            = succeed "." do
              = link_to hybrid_bill_email_path(@business_id) do
                = t('hybrid_bills.object_by_email')
        %br

      = submit_tag t('user_forms.next_button').capitalize, class: 'btn--primary'

      %p
        =link_to t('user_forms.back_button').capitalize, hybrid_bill_path(@business_id)

      %br
      .block.accent--mint
        %h3= t('hybrid_bills.help_support').capitalize
        %p
          = t('hybrid_bills.help_support_a')
          = link_to t('hybrid_bills.help_support_email'), "mailto:#{t('hybrid_bills.help_support_email')}"
          = t('hybrid_bills.help_support_b')
          = succeed "." do
            = link_to t('hybrid_bills.help_support_phone'), "tel:#{t('hybrid_bills.help_support_phone').gsub(/\s+/, "")}"
