- if local_assigns.fetch(:label_value, nil)
  = f.label attribute, label_value
- else
  = f.label attribute

- errors_present = f.object.errors[attribute].present?
- error_id = "#{f.object.class.to_s.underscore}_#{attribute.to_s}_error" # Aria described by ID

- if errors_present
  - f.object.errors.messages[attribute].each do |message|
    %p.message--error{ id: error_id }= message

= f.text_field attribute, class: local_assigns.fetch(:class, nil), required: local_assigns.fetch(:required, nil), pattern: local_assigns.fetch(:pattern, nil), maxlength: local_assigns.fetch(:maxlength, nil), aria: { required: local_assigns.fetch(:aria, {}).fetch(:required, nil), describedby: errors_present ? error_id : nil }, data: { postcode: local_assigns.fetch(:data, {}).fetch(:postcode, nil) }
