%fieldset
  %legend.sr-only
    = t('hybrid_bills.email.legend').capitalize
  .block--border__bottom
    %ol.list--block
      %li
        .card
          .card__details
            .input-group__verbose
              = radio_button_tag 'type', 'individual', checked: true
              = label_tag 'type_individual', t('hybrid_bills.individual').capitalize
            %p{ aria: { labelledby: 'type_individual' } }
              = t('hybrid_bills.individual_desc')
      %li
        .card
          .card__details
            .input-group__verbose
              = radio_button_tag 'type', 'individualgroup'
              = label_tag 'type_individualgroup', t('hybrid_bills.group_individuals').capitalize
            %p{ aria: { labelledby: 'type_individualgroup' } }
              = t('hybrid_bills.group_individuals_desc')

    %ol.list--block
      %li
        .card
          .card__details
            .input-group__verbose
              = radio_button_tag 'type', 'organisation'
              = label_tag 'type_organisation', t('hybrid_bills.organisation').capitalize
            %p{ aria: { labelledby: 'type_organisation' } }
              = t('hybrid_bills.organisation_desc')
      %li
        .card
          .card__details
            .input-group__verbose
              = radio_button_tag 'type', 'organisationgroup'
              = label_tag 'type_organisationgroup', t('hybrid_bills.group_organisations').capitalize
            %p{ aria: { labelledby: 'type_organisationgroup' } }
              = t('hybrid_bills.group_organisations_desc')

  = submit_tag t('user_forms.next_button').capitalize, class: 'btn--primary'
