.section
  .container
    %p
      - unless @constituency.current?
        = "#{t('constituency').capitalize}"
        = "#{t('from')} #{l(@constituency.start_date, format: :default)}" unless @constituency.start_date.nil?
        = @constituency.end_date.nil? ? t('to_present') : " #{t('to')} #{l(@constituency.end_date, format: :default)}"

- if @constituency.current?
  .section
    .container
      - if Parliament::Utils::Helpers::FlagHelper.dissolution?
        = render 'shared/dissolution_message'

      - if Parliament::Utils::Helpers::FlagHelper.election_period?
        = render 'shared/election_message'

      - if @current_incumbency.nil?
        .highlight--box.highlight--caution__soft
          %p= t('no_content.empty_list.no_mp')
      - else
        = render 'member_info'

- else
  .section
    .container
      .highlight--box.highlight--caution__soft
        %p= t('.former_constituency', current_constituencies_link: link_to(t('.current_constituencies_link').capitalize, constituencies_current_path)).html_safe

- if @seat_incumbencies.size > 0
  = render 'former_seat_incumbencies'
