- page_title = title(@work_packageable_thing.name)

.section--primary#content{ tabindex: "0" }
  .container
    %h1= page_title

    %ul
      %li
        =t('.subject_to').capitalize
        = link_to("#{@procedure.name.downcase} #{t('.procedure')}", procedure_path(@procedure.graph_id))

      - unless @work_packageable_thing.weblink.empty?
        %li
          = link_to(@work_packageable_thing.weblink) do
            = t('.related_information')

- if @completed_business_items.any?
  %section.section--wide
    .container
      %h2= t('.completed_stages')
      %ul.track--alternative
        - @completed_business_items.each do |completed_business_item|
          %li
            = render partial: 'work_packages/completed_business_item', locals: { business_item: completed_business_item }

- if @business_items_with_no_date.any?
  %section.section--wide
    .container
      %h2= t('.completed_stages_no_date')
      %p= t('.completed_stages_no_date_description')
      %ul.list--block
        - @business_items_with_no_date.each do |business_item_with_no_date|
          = render partial: 'work_packages/no_date_business_item', locals: { business_item: business_item_with_no_date }

- if @scheduled_business_items.any?
  %section.section--wide
    .container
      %h2= t('.scheduled_stages')
      %ol.list--block.list--2
        - @scheduled_business_items.each do |scheduled_business_item|
          = render partial: 'work_packages/scheduled_business_item', locals: { business_item: scheduled_business_item }
