- page_title = title(@work_packageable_thing.name)

.section--primary#content{ tabindex: "0" }
  .container
    %h1= page_title

    %ul
      %li
        = t('.this_is').capitalize
        = @procedure.name.downcase
        = t('.work_package')

      %li= link_to("#{t('.view_all').capitalize} #{@procedure.name.downcase} #{t('.work_package').pluralize}", procedure_path(@procedure.graph_id))

      - unless @work_packageable_thing.weblink.empty?
        = link_to(@work_packageable_thing.weblink) do
          %li= t('.related_information')

    - if @completed_business_items.any?
      %h2= t('.completed_stages')
      .track--alternative
        - @completed_business_items.each do |completed_business_item|
          = render partial: 'work_packages/completed_business_item', locals: { business_item: completed_business_item }

    - if @scheduled_business_items.any?
      %h2= t('.scheduled_stages')
      .track--alternative
        - @scheduled_business_items.each do |scheduled_business_item|
          = render partial: 'work_packages/scheduled_business_item', locals: { business_item: scheduled_business_item }

    - if @business_items_with_no_date.any?
      %h2= 'Completed steps with no date'
      %ul.list--block
        %li
          .list--details
            - @business_items_with_no_date.each do |business_item_with_no_date|
              = render partial: 'work_packages/no_date_business_item', locals: { business_item: business_item_with_no_date }
