- page_title = title('Writing your petition - group of individuals. Object to the High Speed Rail (West Midlands to Crewe) Bill')

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      Writing your petition - group of individuals
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands to Crewe) Bill

    %h2.typography--light Step 2 of 2

%section.section--primary
  .container
    %h2.sr-only How to write your petition
    %p To write your petition, download and complete the petition template.
    %p You can send your completed version to us by email, post or in person.

    %h2 Send by email
    %p
      Email your completed petition template to
      = succeed "." do
        = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'

    %h2 Send by post
    %p Post your completed petition template to Hybrid Bills Office, Houses of Parliament, London, SW1A 0AA.

    %h2 Send in person
    %p
      Call
      = link_to '020 7219 3250', 'tel:02072193250'
      to arrange a time to deliver your completed petition template.

    .section--major
      %ol.list--pipe__deep
        %li
          %figure.svg--icon.svg--file__word
            = render partial: 'pugin/icons/file'

          .list--details
            %h3 Petition template

            %a{ href: 'https://s3-eu-west-1.amazonaws.com/web1live.static-assets-public/_hybrid-bills/documents/HS2-Phase-2a-Petition-Pack-Group-Of-Individuals.doc', class: 'btn--primary' }
              = render partial: 'pugin/icons/download'
              Download template as Word document

            %p
              If you need a different format, email
              = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
              or phone
              = succeed "." do
                = link_to '020 7219 3250', 'tel:02072193250'

      %h2 Bill updates
      %p
        For news and updates on the Bill, visit the
        = link_to 'http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', target: '_blank' do
          High Speed Rail (West Midlands to Crewe) Bill Committee website
          %span.sr-only (This link will open in a new window).
