- page_title = title('Writing your petition - group of organisations. Object to the High Speed Rail (West Midlands – Crewe) Bill')

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      Writing your petition - group of organisations
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands – Crewe) Bill

    %h2.typography--light Step 2 of 2

%section.section--primary
  .container
    %h2.sr-only How to write your petition
    %p To write your petition, download and complete the petition template.
    %p You can send your completed version to us by email, post or in person.

    %h2 Send by email
    %p
      Email your completed petition template to
      = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
      \.

    %h2 Send by post
    %p Post your completed petition template to Hybrid Bills Office, Houses of Parliament, London, SW1A 0AA.

    %h2 Send in person
    %p
      Call
      = link_to '020 7219 3250', 'tel:02072193250'
      to arrange a time to deliver your completed petition template.

    .section--major
      %ol.list--pipe__deep
        %li
          %figure.svg--icon.svg--file__word
            = render partial: 'pugin/icons/file'

          .list--details
            %h3 Petition template

            %a{ href: 'https://s3-eu-west-1.amazonaws.com/web1live.static-assets-public/_hybrid-bills/documents/HS2-Phase-2a-Petition-Pack-Group-Of-Organisations.doc', class: 'btn--primary' }
              = render partial: 'pugin/icons/download'
              Download template as Word document

            %p
              If you need a different format, email
              = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
              or phone
              = link_to '020 7219 3250', 'tel:02072193250'
              \.

      = link_to 'Finish', hybrid_bill_path(@business_id), class: 'btn--primary'
