.section--primary
  .container
    %h1
      %span= title(sanitize(@concept.name))

%section{ id: 'content', tabindex: "0" }
  .container
    = Parliament::Utils::Helpers::MarkdownHelper.markdown(@concept.definition)

    - if @concept_articles.any?
      %h2= "Articles in this section"
      %ul.list
        - @concept_articles.each do |article|
          %li= link_to(sanitize(article.article_title), article_path(article.graph_id))

    - if @narrower_concepts.any?
      %h2= "Other topics in this section"
      %ul.list
        - @narrower_concepts.each do |concept|
          %li= link_to(sanitize(concept.name), concept_path(concept.graph_id))
