- page_title = title("#{t('hybrid_bills.object_by_email').capitalize}. #{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      = t('hybrid_bills.object_by_email').capitalize
      %span.sr-only .
      %span= "#{t('hybrid_bills.id' + @business_id + '.object_title')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"

    %h2.typography--light
      = "#{t('hybrid_bills.step_1').capitalize} #{t('hybrid_bills.step_1_2')}"

%section
  .container
    %h2= t('.subtitle').capitalize
    = form_tag hybrid_bill_email_type_path(@business_id) do
      = render partial: 'hybrid_bills/steps/forms/components/petitioner-type'

    %p
      =link_to t('user_forms.back_button').capitalize, hybrid_bill_path(@business_id)
