- page_title = title("#{t('.title').capitalize}")

#content.section--primary{ tabindex: '0' }
  .container
    %h1
      %span= page_title

    %p
      = t('.intro_a')

      = succeed " " do
        = link_to 'http://www.parliament.uk/about/how/laws/bills/public/', target: '_blank' do
          = t('.public_bills')
          %span.sr-only>
            = t('open_new_window_link')

      = t('.intro_b')

      = succeed "." do
        = link_to 'http://www.parliament.uk/about/how/laws/bills/private/', target: '_blank' do
          = t('.private_bills')
          %span.sr-only>
            = t('open_new_window_link')

      = t('.intro_c')

    %p= t('.intro_d')

    %p
      = t('.hybrid_bill_paper_text')
      = succeed "." do
        = link_to 'http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06736', target: '_blank' do
          = t('.hybrid_bill_paper_link')
          %span.sr-only>
            = t('open_new_window_link')

%section
  .container
    %h2= t('.object_hybrid_bill').capitalize

    %p= t('.object_hybrid_bill_a')

    %p= t('.object_hybrid_bill_b')

    %h3= t('.current_hybrid_bills').capitalize

    %ol.list--block
      %li
        .card
          .card__details
            %h3= link_to(("#{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"), hybrid_bill_path('1'))
            %p= t('hybrid_bills.id1.petition_status_post')

%section
  .container
    %h2= t('.object_additional_provision').capitalize

    %p= t('.object_additional_provision_a')

    %p= t('.object_additional_provision_b')

    %p= t('.object_additional_provision_c')

    %h3= t('.past_additional_provisions').capitalize

    %ol.list--block
      %li
        .card
          .card__details
            %h4= link_to(("#{t('hybrid_bills.hs2_ap2')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"), hybrid_bill_path('3'))
            %p= t('hybrid_bills.id3.petition_status_post')
      %li
        .card
          .card__details
            %h4= link_to(("#{t('hybrid_bills.hs2_ap1')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}"), hybrid_bill_path('2'))
            %p= t('hybrid_bills.id2.petition_status_post')
