- page_title = title('Object to the High Speed Rail (West Midlands to Crewe) Bill')

#content.section--primary{ tabindex: '0' }
  .container
    %h1 Object to the High Speed Rail (West Midlands to Crewe) Bill
    %br
    .status--highlight
      %p The deadline has passed.

%section
  .container
    %h2 Overview

    %p Any individual, group of individuals, organisation or group of organisations affected by the High Speed Rail (West Midlands to Crewe) Bill can object to it.

    %p
      To find out more about the Bill, visit the
      = link_to 'https://www.gov.uk/government/organisations/high-speed-two-limited', target: '_blank' do
        High Speed Two (HS2) Limited website
        %span.sr-only> (This link will open in a new window).

    %p
      For the latest updates, visit the
      = link_to 'http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', target: '_blank' do
        High Speed Rail (West Midlands to Crewe) Bill Committee website
        %span.sr-only> (This link will open in a new window).

    %br
    .block.accent--mint
      %h3 Help and support
      %p
        For more information email
        = link_to 'prbohoc@parliament.uk', 'mailto:prbohoc@parliament.uk'
        or phone
        = succeed "." do
          = link_to '020 7219 3250', 'tel:02072193250'
