- page_title = title("#{t('hybrid_bills.object_to').capitalize} #{t('hybrid_bills.the')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")

#content.section--primary{ tabindex: '0' }
  .container
    %h1= page_title

    .status--highlight
      %p= t('hybrid_bills.petition_status_pre')

%section
  .container
    %h2= t('hybrid_bills.show.overview').capitalize

    %p= t('hybrid_bills.show.overview_a_bill')

    %p
      = t('hybrid_bills.show.overview_b')
      = succeed "." do
        = link_to 'https://www.gov.uk/government/organisations/high-speed-two-limited', target: '_blank' do
          = t('hybrid_bills.show.overview_c')
          %span.sr-only>
            = t('open_new_window_link')

%section
  .container
    %h2= t('hybrid_bills.show.object_bill').capitalize

    %p
      = t('hybrid_bills.show.object_bill_pre')
      = succeed "." do
        = link_to 'http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', target: '_blank' do
          = "#{t('hybrid_bills.hs2_committee')} #{t('hybrid_bills.hs2_website')}"
          %span.sr-only>
            = t('open_new_window_link')
