Hello, this is petition: <%= @petition %>
<br />

 <h2>Before you send your petition</h2>
 <p>Before you petition the New Motorway Bill you should:</p>
 <hr style="border-bottom: dotted 0.5px #001" />
 <p>1. read the guidelines </p>
 <hr style="border-bottom: dotted 0.5px #001" />
 <p>2. download and complete template </p>
 <hr style="border-bottom: dotted 0.5px #001" />
 <p>3. if your petition is accepted, a <b>payment of £20</b> will be required to process your submission </p>
 <hr style="border-bottom: dotted 0.5px #001" />
<%= form_tag(hybrid_bill_path(@petition, step: 'submission-type')) do %>
<%= label_tag 'Terms and Conditions' %>
<%= check_box_tag 'accept' %>
<%= submit_tag 'Start' %>
<% end %>