- page_title = title("#{t('hybrid_bills.object_to').capitalize} #{t('hybrid_bills.the')} #{t('hybrid_bills.hs2')} #{t('hybrid_bills.hs2_bill').capitalize}")

#content.section--primary{ tabindex: '0' }
  .container
    %h1= page_title

    - if flash[:alert]
      %br
      .status--highlight.theme--warning
        %p= t(flash[:alert])

    %noscript
      %br
      .status--highlight.theme--caution
        %p= t('javascript_disabled')

    .status--highlight
      %p= t('hybrid_bills.petition_status_active')

%section
  .container
    %h2= t('.overview').capitalize

    %p= t('.overview_a_bill')

    %p
      = t('.overview_b')
      = succeed "." do
        = link_to 'https://www.gov.uk/government/organisations/high-speed-two-limited', target: '_blank' do
          = t('.overview_c')
          %span.sr-only>
            = t('open_new_window_link')

%section
  .container
    %h2= t('.object_bill').capitalize

    %p= "#{t('.object_bill_a_bill')} #{t('.object_bill_a')}"

    %p= "#{t('.object_bill_b')} #{t('.object_bill_b_bill')}"

    %p= t('.object_bill_c')

%section
  .container
    %h2= t('.contact_details').capitalize

    %p= t('.contact_details_a')

    %p
      = t('.contact_details_b')
      = succeed "." do
        = link_to 'http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', target: '_blank' do
          = t('hybrid_bills.hs2_committee')
          %span.sr-only>
            = t('open_new_window_link')

%section
  .container
    %h2= t('.after_sending_petition').capitalize

    .track--alternative
      %h3.typography--light
        = t('.after_sending_petition_a')

      %h3.typography--light
        = t('.after_sending_petition_b')

      %h3.typography--light
        = t('.after_sending_petition_c')

      %h3.typography--light
        = "#{t('.after_sending_petition_d')} #{t('.object_bill_b_bill')}"

      %h3.typography--light
        = t('.after_sending_petition_e')

    .section--major
      %noscript
        .status--highlight.theme--warning
          %p
            = t('cookies_disabled_a')
            = link_to 'https://beta.parliament.uk/meta/cookie-policy' do
              = t('cookies')
            = t('cookies_disabled_b')

          %p= t('cookies_disabled_c')

          %p
            = succeed "." do
              = t('cookies_disabled_d')
              = t('hybrid_bills.object_by_email')


      =link_to t('hybrid_bills.object_online').capitalize, hybrid_bill_path(@business_id, step: 'writing-your-petition-online'), class: 'btn--primary'
      =link_to t('hybrid_bills.object_by_email').capitalize, hybrid_bill_email_path(@business_id), class: 'btn--primary--inverse'
