%header
  -# All the collections an Article sits in
  - if local_assigns[:root_collections] && root_collections.any?
    %small= render partial: 'shared/article/delimited_collection_links', locals: { links: root_collections }

  %h1

    -# Title
    %span= title(sanitize(title))

    -# All the collections an Article sits in
    - if local_assigns[:collections] && collections.any?
      %span.context
        = t('.in')
        = render partial: 'shared/article/delimited_collection_links', locals: { links: collections }

  - if local_assigns[:summary]
    = Parliament::Utils::Helpers::MarkdownHelper.markdown(summary)
