- page_title = title(@procedure.name.downcase.capitalize)

.section--primary#content{ tabindex: "0" }
  .container
    %small
      = link_to(t('.procedure').capitalize.pluralize, procedures_path)
    %h1
      %span= page_title
    %p
      = t('.find_out_more')
      = succeed "." do
        = link_to("#{@procedure.name.downcase} #{t('.procedure')}", 'https://www.parliament.uk/about/how/laws/secondary-legislation/').html_safe

%section
  .container
    %ol.list--block
      %li
        .card
          .card__details
            %h2
              = link_to(t('.procedural_activity'), procedure_work_packages_path(@procedure.graph_id))
